@import "./variables/colors.scss";
@import "./typography/typography.scss";
@import "./components.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: none;
    outline: none;
}

html, body {
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:not(input):not(textarea) {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

input, textarea {
    &::-webkit-input-placeholder {
        color: $gray
    }

    &:-moz-placeholder {
        color: $gray
    }

    &:-moz-placeholder {
        color: $gray
    }

    &:-ms-input-placeholder {
        color: $gray
    }

    &:focus::-webkit-input-placeholder {
        color: transparent
    }

    &:focus::-moz-placeholder {
        color: transparent
    }

    &:focus:-moz-placeholder {
        color: transparent
    }

    &:focus:-ms-input-placeholder {
        color: transparent
    }
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.form-item {
    margin-bottom: 15px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

